/* .back{
 background-color: rgb(24,69,59);   
}

.form-container{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    color: white;

}
.register-form{
    
    border: 1px solid gray;
    padding: 30px ;
    background-color: white;
    
} */
.authentication{
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #005555;
 }
 .authentication-form{
   width: 400px;
 }
 
 .authentication .card-title{
   font-size: 1.5rem;
   font-weight: bold;
   background-color: orangered;
   color: white !important;
   max-width: max-content !important;
   padding: 7px 15px;
   margin-left: -40px;
   border-bottom-left-radius: 10px;
 }
 .button{
    background-color: #005555;
    width: 100%;
 }
